@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400&family=Poppins:wght@200;400;600&family=Source+Sans+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Ubuntu:wght@300;400;500&display=swap');
*{
    margin: 00px;
    padding:00px;
    box-sizing: border-box;
    text-decoration: none;
    
    
}
 .max-width{
    max-width:1300px;
    padding:0 80px;
    margin:auto;

}
/*----navbar styling----------*/
.navbar{
    position:fixed;
    width: 100%; 
    padding:30px 0; 
    /*background-color: crimson;*/
    font-family: 'Ubuntu', sans-serif;
    transition:all 0.4s ease-in;
    
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar.sticky .menu li a:hover{
    color: white;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


.navbar .max-width{
    display:flex;
    text-align: center;
    justify-content:space-between; 
}

.img1{    
    height: 75px;
    width: 75px;
    margin-top: -2px;
    cursor: pointer;

}
.img{ 
    height:00px;
    width: 00px;
}




.navbar .menu li{
    list-style:none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    margin: 3px;
    margin-top: 6px;
}
.navbar .menu li a:hover{
    color: crimson;
    font-weight:500;
    transition: all 0.4s ease;
    
}
.navbar .menu li a{
    color: #fff;
    font-size:18px;
    font-weight:500;
    margin-left:25px;
    
}

/*home*/
.home{
    background:url(minimalist-lion-wallpaper.jpg) no-repeat center; 
    display:flex;
    height:100vh;
    min-height:500px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-size: cover;

}
.home .max-width{
    margin:auto 0px auto 43px;
}
.home .home-content .text-1{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
           
           

}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;

}
.home .home-content .text-3{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;

}
.home .home-content .text-3 span{
    color:crimson;
}
.button {
    background-color: crimson;
    border: none;
    color: white;
    padding: 20px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 19px;
    transition-duration: 0.4s;
    margin-top: 33px;
}
.button a{
    color: white;
}
.button:hover{
    border: 4px solid crimson;
    background-color: transparent;
    color: white;
}


/* about me*/
section{
    padding: 100px 0;
}
.about{
    font-family: 'Ubuntu', sans-serif;
}
.about .title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size:50px;
    margin-bottom:20px;
    padding: 30px;
    font-weight:500;
    z-index: -999;
    text-shadow: -4px -3px 7px crimson;
    margin-top: -52px;
}
.about .title::before{
    content: "";
    position: absolute;
    width: 227px;
    height: 5px;
    background-color: #111;
    margin-left: -1px;
    /* bottom: 0px; */
    margin-top: 59px;
    transform: translateY(-50%);
    z-index: -999;

}
.about .title::after {
    content: "who i am";
    color: crimson;
    position: absolute;
    width: 129px;
    font-size: 19px;
    height: 22px;
    background: white;
    margin-left: -181px;
    margin-top: 59px;
    transform: translateY(-50%);
    z-index: -999;
}
.about .about-content{
    text-align: justify;
    justify-content: space-between;
    display:flex;
    
}
.about .about-content .columnright{
    
    padding: 66px;
    margin-left: 52px;
}
.about .about-content .columnright .text{
    font-size:40px;
    font-weight: 500;
    padding-bottom:20px;
}
.about .about-content .columnright p{
    
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;

}
.about .about-content .columnright .download{
    background-color: crimson;
    border: none;
    color: black;
    padding: 20px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 19px;
    transition: all 0.4s ease ;
    margin-top: 33px;


}
.about .about-content .columnright .download:hover a{
    color: black;
    text-decoration: none;
}
.about .about-content .columnright .download:hover{
    border: 2px solid crimson;
    background-color: transparent;
    color: white;
    

}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    margin-left: -46px;
    object-fit: cover;
    border-radius: 448px;
    box-shadow: 20px 20px 20px crimson;
}
/*services*/
.services{
    background-color: black;
    padding: 30px 2px;
    margin: 1%;
    color:white;
    border-radius: 15px;
    box-shadow: 4px 5px 5px crimson;
    font-family: 'Ubuntu', sans-serif;
}
.services .serv{
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 2px 2px 5px crimson;

}
.services .serv-content{
     display: inline-flex;
     padding: 0px;
}
.services .serv-content .card .box i{
    font-size: 60px;
   
    margin: -16px 73px;
    padding: 4px;
    color:crimson;
    transition: all 0.3s ease;
    
}
.services .serv-content .card .box .text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 15px 3px
}
.services .serv-content .card .box  p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: justify;
    font-weight: 300;
    padding: 0px;

}

.services .serv-content .card{
    background-color:rgb(63, 56, 56);
    padding: 52px 37px;
    margin: 3%;
    color:white;
    border-radius: 15px;
    box-shadow: 4px 5px 5px crimson;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;

    
}
.services .serv-content .card .box:hover i{
    font-size: 60px;
   
    margin: -16px 73px;
    padding: 4px;
    color:#fff;
    
}
.services .serv-content .card:hover{
    background-color:crimson;
    padding: 52px 37px;
    margin: 3%;
    color:white;
    border-radius: 15px;
    box-shadow: 4px 5px 5px purple;
    font-family: 'Ubuntu', sans-serif;

    
}
/*myskill*/
.about .skill {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    padding: 30px 3px;
    font-weight: 500;
    z-index: -999;
    margin-left: 20px;
    text-shadow: -4px -3px 7px crimson;
    margin-top: -48px;
}

.about .skill::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 4px;
    background-color: #111;
    margin-left: -18px;
    /* bottom: 0px; */
    margin-top: 59px;
    transform: translateY(-50%);
    z-index: -999;
}
.about .skill::after {
    content: "what i know";
    color: crimson;
    position: absolute;
    width: 137px;
    font-size: 19px;
    height: 21px;
    background: white;
    margin-left: -157px;
    margin-top: 61px;
    transform: translateY(-50%);
    z-index: -999;
}
.about .max-width .total-box .box{
    width: calc(100% - 30px);
    padding: 43px 20px;
   
}
.about .total-box .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .total-box .left .read-more{
    background-color: crimson;
    border: none;
    color: white;
    padding: 20px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    transition-duration: 0.4s;
    margin-top: 33px;

}
.about .total-box .left .read-more:hover{
    border: 2px solid crimson;
    background-color: transparent;
    color: black;
}
.about .total-box .left p{
    text-align: justify;
    font-size: 19px;
    font-weight: 300;
}
.about .total-box .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .total-box .left a:hover{
    color: crimson;
    background: none;
}
.about .total-box .right .bars{
    margin-bottom: 15px;
}
.about .total-box .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.about .total-box .right span{
    font-weight: 500;
    font-size: 18px;
}
.about .total-box .right .bars .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.about .total-box .right .bars .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.about .total-box .right .html::before{
    width: 90%;
}
.about .total-box .right .css::before{
    width: 60%;
}
.total-box .right .js::before{
    width: 80%;
}
.total-box .right .c::before{
    width: 50%;
}
.total-box .right .mysql::before{
    width: 70%;
}

.about .total-box{
    display: flex;
}

/*---contact***/
.cont{
    margin-top: -130px;
}
.cont .contact{
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 2px 2px 5px crimson;
}
.cont .contact::before {
    content: "";
    position: absolute;
    width: 318px;
    height: 4px;
    background-color: #111;
    margin-left: -18px;
    /* bottom: 0px; */
    margin-top: 59px;
    transform: translateY(-50%);
    z-index: -999;
}
.cont .contact::after {
    content: "get in touch";
    color: crimson;
    position: absolute;
    width: 137px;
    font-size: 19px;
    height: 21px;
    background: white;
    margin-left: -195px;
    margin-top: 61px;
    transform: translateY(-50%);
    z-index: -999;
}
.cont .contact-content {
    text-align: justify;
    justify-content: space-between;
    display:flex;
    margin-top: 58px;

}
.cont .contact-content .column{
    width:calc(50% - 30px);
}
.cont .contact-content .left .git{
    font-size: 40px;
    font-weight: 400;
    padding: 13px 0px;
    margin: 6px -2px
    

}
.cont .contact-content .left {
   
    padding: 0px 50px;
}
.cont .contact-content .left p{
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0px;
    
}
.cont .contact-content .left .icon{
    margin: 6px 5px;
    padding: 9px 0px 19px;
   
}
.cont .contact-content .left .icon .row{
   display:flex;
    height: 36px;
    align-items: center
}
.cont .contact-content .left .icon .row .fas{
    font-size: 25px;
    color: crimson;
    padding: 11px 30px 5px;
    margin-left: -55px
   
}
.cont .contact-content .left .icon .row .info{
    margin:15px;
}
.cont .contact-content .left .icon .row .info .head{
    font-size:20px;
    font-weight:400;
}
.cont .contact-content .right .git{
    font-size: 40px;
    font-weight: 400;
    padding: 13px 0px;
    margin: 6px -2px
    

}
.cont .contact-content .right .input-box{
    margin: 10px;
}
.cont .contact-content .right .input-box .input .info{
    margin: 25px -9px;
     
}
.cont .contact-content .right .input-box .input .info .email{
    height: 46px;
    width: 262px;
    border-radius: 5px;
    border:1px solid gray;
    
}
.cont .contact-content .right .input-box .input
{
    display:flex;
    justify-content:space-between;
}
.cont .contact-content .right .input-box .output .info{
    padding: 13px 1px


}
.cont .contact-content .right .input-box .output .info .email{
    height: 46px;
    width: 539px;
    margin: -3px;
    margin-left: -10px;
    border-radius: 5px;
    border: 1px solid gray;

}
.cont .contact-content .right .input-box .output .info .gmail{
    height: 100px;
    width: 539px;
    margin: -3px;
    margin-left: -10px;
    border-radius: 5px;
    border: 1px solid gray;

}
.cont .contact-content .right button{
    background-color: crimson;
    border: none;
    color: white;
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 19px;
    transition-duration: 0.4s;
    margin-top: 33px;
}







::placeholder{
    padding:10px;
    font-size:20px
    
}


















@media (max-width: 950px){
    .max-width{
        
        padding:0 50px;
        
    
    }
     .menu-btn{
        
        display:block;
        z-index: 999;
        color:white;
        cursor:pointer;
        font-size:30px;
        }
        .menu-btn i.active:before{
            content: "\f00d";
        }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .menu li a:hover{
        color: crimson;
        font-weight:500;
        transition:0.04s ease-in-out;
        
    }
    .home .home-content .text-1{
        font-size: 25px;
        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;
               
               
    
    }
    .home .home-content .text-2{
        font-size: 60px;
        font-weight: 600;
        font-family: 'Ubuntu', sans-serif;
    
    }
    .home .home-content .text-3{
        font-size: 30px;
        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;
    }
    .button {
        background-color: crimson;
        border: none;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 12px;
        transition-duration: 0.4s;
        margin-top: 33px;
    }
    

}